@import './base/base';
@import './base/settings';
@import './components/game/gameBoard';
@import './components/game/boardRow';
@import './components/game/boardSquare';
@import './components/not-found/pageNotFound';
@import './components/main/homeLink';
@import './components/login/loader';
@import './components/main/modal';
@import './components/main/loader';
@import './components/lobby/gameLobby';
@import './components/lobby/playerBanner';
@import './components/game/gameOverMessage';
@import './components/main/header';
@import './components/login/loginPage';
@import './components/login/loginForm';
@import './components/main/rankCircle';
@import './components/main/notification';
@import './components/game/playerBanner';
@import './components/main/nameTag';
@import './components/main/tag';
@import './components/game/matchPage';