.game-over__message {
    $message-length: 40%;
    $max-length: 12rem;

    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 3%;
    width: $message-length;
    height: $message-length;
    min-width: $max-length;
    min-height: $max-length;
    top: calc(50% - max(#{$message-length}, #{$max-length}) / 2);
    left: calc(50% - max(#{$message-length}, #{$max-length}) / 2);
    overflow: hidden;

    span {
        display: block;
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    button {
        position: absolute;
        height: 2.3rem;
        bottom: 10%;
        left: 10%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 5px;
        background:rgba(12, 120, 209, 0.788);
        color: white;
    }
}

.second-player__message {
    transform: rotate(180deg);
}

@media (max-width: 580px) {
    .game-over__message {
        $message-length: 80%;
        width: $message-length;
        height: $message-length;
        top: calc(50% - #{$message-length} / 2);
        left: calc(50% - #{$message-length} / 2);
        padding: 10%;
    }
}