.resize__board-container {
    $board-max-height: calc(100vh - (#{$match-players-banners-height + $match-players-banners-bottom-margin + $match-game-state-banner-height + $match-state-banner-top-margin}));
    $board-max-length: calc(min(100vw, #{$board-max-height}));

    width: calc(min(80vw, 80vh));
    height: calc(min(80vw, 80vh));
    max-width: $board-max-length;
    max-height: $board-max-length;
    min-width: 240px;
    min-height: 240px;
    margin: auto;
    resize: both;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.game-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.second-player__board {
    transform: rotate(180deg);
}