$header-height: 3.5rem;
$login-form-margin: 20px;
$form-label-padding: 8px;
$standard-tag-padding: 0.5rem;

$match-players-banners-height: 51px;
$match-players-banners-bottom-margin: 25px;
$match-game-state-banner-height: 80px;
$match-state-banner-top-margin: 15px;